USE [Prueba]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [varchar](100) NULL,
	[ApellidoCliente] [varchar](100) NULL,
	[Telefono] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NULL,
	[NombreProducto] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[IdRol] [int] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[Fecha] [datetime] NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([IdRol], [NombreRol]) VALUES (2, N'Ventas')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Usuario], [Clave], [IdRol], [Activo]) VALUES (1, N'admin', N'1234', 1, 1)
INSERT [dbo].[Usuario] ([IdUsuario], [Usuario], [Clave], [IdRol], [Activo]) VALUES (2, N'ventas', N'12', 2, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [Fk_DetalleVenta_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [Fk_DetalleVenta_Producto]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Venta] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Venta]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActulizarCategoria]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActulizarCategoria]

@IdCategoria INT,
@NombreCategoria varchar (20)

AS
BEGIN
SET NOCOUNT ON;
UPDATE Categoria
SET NombreCategoria = @NombreCategoria
WHERE IdCategoria = @IdCategoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarCategoria]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AgregarCategoria]
(
  @NombreCategoria varchar (20)
)
as
begin 
 
 insert into Categoria 
 ( NombreCategoria
 
 )
 values 
 ( @NombreCategoria
 )

 end
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarCliente]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarCliente]
    @NombreCliente VARCHAR(100),
    @ApellidoCliente VARCHAR(100),
    @Telefono VARCHAR(100)
AS
BEGIN
    -- El insert debe estructurarse correctamente con sus paréntesis y comas
    INSERT INTO Cliente (NombreCliente, ApellidoCliente, Telefono)
    VALUES (@NombreCliente, @ApellidoCliente, @Telefono);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarDetalleVenta]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AgregarDetalleVenta]
(
  @IdVenta int,
@IdProducto int,
@Cantidad  int,
@Precio decimal (10,2)
  
)
as
begin 

insert into DetalleVenta
(
 IdVenta,
 IdProducto,
 Cantidad,
 Precio


)
VALUES 
(

@IdVenta,
@IdProducto,
@Cantidad,
@Precio
)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarUsuario]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[sp_AgregarUsuario](
    @Usuario varchar(50),
    @Clave varchar (50),
    @IdRol int
   
   )
   as
   begin

   insert into Usuario

   (
     Usuario,
     Clave,
     IdRol

  
   
   )
   values (
    @Usuario,
    @Clave,
    @IdRol
   )

   end
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarVenta]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AgregarVenta]
( @IdCliente int,
  @Fecha datetime


)

as 
begin
insert into Venta
(
   IdCliente,
   Fecha

)

values 

(
  @IdCliente,
  @Fecha

)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregrarProducto]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AgregrarProducto]
(
 @NombreProducto varchar (100),
 @IdCategoria int

)

as 
 begin
  

  INSERT INTO Producto
  (

  NombreProducto,
  IdCategoria


  )
  VALUES 
  (
   @NombreProducto,
   @IdCategoria
  )
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_AnularVenta]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AnularVenta]
    @IdVenta INT
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- 1. Cambiamos el estado de la venta principal
        UPDATE Venta 
        SET Estado = 'Anulado' 
        WHERE IdVenta = @IdVenta;

        -- 2. (Opcional) Si manejas stock, aquí podrías devolver los productos 
        -- del DetalleVenta de vuelta al inventario con un UPDATE a la tabla Producto.

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarCliente]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_BuscarCliente]

(

@NombreCliente varchar (100)
)

as 
begin 
select * from CLiente
where NombreCliente LIKE '%' + @NombreCliente + '%'
end
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarCategoria]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[sp_EditarCategoria]

 @IdCategoria int,
 @NombreCategoria varchar(20)
 as 
 begin
 update Categoria
 SET NombreCategoria = @NombreCategoria
 WHERE  IdCategoria = @IdCategoria
 END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarCliente]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[sp_EditarCliente]
 @IdCliente int,
 @NombreCliente varchar (100),
 @ApellidoCliente varchar (100),
 @Telefono varchar (9)
 AS
 BEGIN
  UPDATE Cliente
  SET NombreCliente = @NombreCliente,
      ApellidoCliente = @ApellidoCliente,
      Telefono =  @Telefono
      WHERE IdCliente = @IdCliente;
      end
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarProducto]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[sp_EditarProducto]
@IdProducto int,
@IdCategoria int,
@NombreProducto varchar (100)
AS
BEGIN 
UPDATE Producto 
SET 
    IdCategoria = @IdCategoria,
    NombreProducto = @NombreProducto
    WHERE IdProducto = @IdProducto
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarRol]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE PROCEDURE [dbo].[sp_EditarRol]
    @IdRol int,
    @NombreRol varchar(50)
    AS
    BEGIN
    UPDATE Rol
    set
        NombreRol = @NombreRol
        WHERE IdRol = @IdRol
        END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarUsuario]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarUsuario]
@IdUsuario int,
@Usuario varchar (50),
@Clave varchar (50),
@IdRol int

AS 
BEGIN 
UPDATE Usuario
SET Usuario = @Usuario,
    Clave = @Clave,
    IdRol = @IdRol
    WHERE IdUsuario = @IdUsuario
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCategoria]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_EliminarCategoria]
@IdCategoria int
as 
begin 
set nocount on;
delete from Categoria
where IdCategoria = @IdCategoria;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCliente]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_EliminarCliente]
@IdCliente int
as
begin
set nocount on;
delete from Cliente
where IdCliente = @IdCliente;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_EliminarProducto]
@IdProducto int
as
begin
set nocount on;
delete from Producto
where IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarRol]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_EliminarRol]
@IdRol int
as
begin
set nocount on;
delete from Rol
where IdRol = @IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_EliminarUsuario]
@IdUsuario int
as
begin 
SET NOCOUNT ON;
delete from Usuario
WHERE IdUsuario = @IdUsuario;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListaCategoria]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[sp_ListaCategoria]
  as
  begin 
  select IdCategoria,NombreCategoria from Categoria
  
  end
  
GO
/****** Object:  StoredProcedure [dbo].[sp_ListaCliente]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[sp_ListaCliente]

  as
  begin
  select
   IdCliente,
   NombreCliente,
   ApellidoCliente,
   Telefono

  from CLiente
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListaDetalleVenta]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListaDetalleVenta]

@IdVenta int

as
begin 


select
d.IdDetalleVenta,
v.IdVenta,
p.NombreProducto,
d.Cantidad,
d.Precio



from DetalleVenta d

inner join Venta v  on d.IdVenta = v.IdVenta
inner join Producto p on d.IdProducto = p.IdProducto
where v.IdVenta  = @IdVenta;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_listaProductos]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_listaProductos]
as 
begin
  select 

  p.IdProducto,
  p.NombreProducto,
  p.IdCategoria,
  c.NombreCategoria

  from Producto p
  inner join Categoria c
  on p.IdCategoria = c.IdCategoria

  end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListaRol]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListaRol]
as
begin
select IdRol, NombreRol from Rol
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListaUsuario]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[sp_ListaUsuario]
  as
  begin 
  select
		u.IdUsuario,
   u.Usuario,
   u.Clave,
   r.NombreRol,
   u.Activo

  from Usuario u
  inner join Rol r
   on u.IdRol = r.IdRol
   end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListaVenta]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ListaVenta]
as
begin 
select
v.IdVenta,

c.NombreCliente,
c.ApellidoCliente,
v.Fecha,
v.estado,
ISNULL(SUM(dv.Cantidad * dv.Precio), 0) AS TotalVenta -- <-- Cálculo del total

from Venta v

inner join CLiente c
on v.IdCliente = c.IdCliente
LEFT JOIN DetalleVenta dv ON v.IdVenta = dv.IdVenta
    GROUP BY v.IdVenta, c.NombreCliente, c.ApellidoCliente, v.Fecha, v.Estado
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Login]
(
    @Usuario VARCHAR(50),
    @Clave VARCHAR(100)
)
AS
BEGIN
    SELECT
        U.IdUsuario,
        U.Usuario,
        R.NombreRol,
        u.Activo
    FROM Usuario U
    INNER JOIN Rol R
        ON U.IdRol = R.IdRol
    WHERE U.Usuario = @Usuario
    AND U.Clave = @Clave
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Rol]    Script Date: 24/09/2026 13:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[sp_Rol]
 (
  @NombreRol varchar(50)

 )

 as 
 begin 

 insert into Rol 

 (
   NombreRol
 )

 values
 
 (
 @NombreRol
 )
 end
GO
